* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: #fff;
  overflow: hidden;
  background-color: black;
}

.main {
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}
.sidebar {
  /* background-color: red; */
  width: 340px;
  border-radius: 1rem; /*16px*/
  background-color: black;
  margin-right: 0.5rem;
}
.main-content {
  background-color: #121212;
  flex: 1;
  border-radius: 1rem;
  overflow: scroll;
}
.music-player {
  background-color: black;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 72px;
}
a {
  text-decoration: none;
  color: #fff;
}

.nav {
  background-color: #121212;
  border-radius: 1rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem;
}
.nav-option {
  line-height: 2.5rem;
  background-color: #121212;
  opacity: 0.7;
  padding: 0.5rem 0.75;
}
.nav-option:hover {
  opacity: 1;
}
.nav-option i {
  font-size: 1.25rem;
  background-color: #121212;
}
.nav-option a {
  font-size: 1rem;
  margin-left: 1rem;
  background-color: #121212;
}
.options {
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-top: 0.25rem;
}

.lib {
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.65rem;
  padding: 0.5rem 0.75;
}
.lib img {
  background-color: #121212;
  height: 1.25rem;
  width: 1.25rem;
}
.icons {
  font-size: 1.25rem;
  background-color: #121212;
  display: flex;
  margin-right: 0.5rem;
}
.icons i {
  opacity: 0.7;
  margin-right: 1rem;
}
.icons i:hover {
  opacity: 1;
}
.lib-box {
  background-color: #121212;
  margin-top: 1rem;
}
.box {
  height: 10rem;
  background: #232323;
  border-radius: 0.75rem;
  margin: 0.75rem 0 1.75rem 0rem;
  padding: 0.5rem 1rem;
}
.box-p1 {
  background-color: #232323;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.box-p2 {
  background-color: #232323;
  font-size: 0.85rem;
  opacity: 0.9;
  margin-bottom: 1.25rem;
  margin-left: 2px;
}

.badge {
  color: black;
  background-color: #fff;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  height: 2rem;
  width: fit-content;
  transition: 0.01s ease-in;
  margin-left: 2px;
}
.badge:hover {
  transform: scale(1.05);
}
